/* место для вашего кода */
body {
  max-width: 1440px;
  margin: auto;
}

address {
  padding: 0;
  margin: 0;
}

.header {
  height: 293px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

}

.header__link-list {
  display: flex;
  list-style-type: circle;
  gap: 33px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-left: 51px;
  text-underline-offset: 5px;
}

.header__links-list-item {
  text-decoration: underline;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__logo {
  width: 138px;
  height: 105px;
  justify-self: center;
}

.address {
  justify-self: end;
  margin-right: 51px;
}

.header__address {
  display: flex;
  flex-direction: column;
  text-underline-offset: 3px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

.cover {
  height: 757px;
  background-color: red;
}

